In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

In [8]:
from sklearn.datasets import load_boston
X, y = load_boston(return_X_y=True)

In [9]:
#Transform the data set into a data frame for EDA

df_x = pd.DataFrame(boston.data, columns = boston.feature_names)
df_y = pd.DataFrame(boston.target)

In [10]:
# describe features
df_x.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [11]:
X, y = load_boston(return_X_y=True)

In [3]:
print(X.shape)

(506, 13)

In [5]:
# Mean X and Y
mean_x = np.mean(X)
mean_y = np.mean(y)

# Total number of values
m = len(X)

In [16]:
alpha = 0.0001
B = np.array([0, 0, 0,0,0,0,0,0,0,0,0,0,0])
def cost_function(X, Y, B):
    m = len(Y)
    J = np.sum((X.dot(B) - Y) ** 2)/(2 * m)
    return J

In [17]:
inital_cost = cost_function(X, y, B)
print(inital_cost)

296.0734584980237

As you can see our initial cost is huge. Now we’ll reduce our cost prediocally using Gradient Descent.

Hypothesis: 
hβ(x)=β*Tx

Loss: 
(
h
β
(
x
)
−
y
)


Gradient: 
(
h
β
(
x
)
−
y
)
x
j


Gradient Descent Updation: 
β
j
:
=
β
j
−
α
(
h
β
(
x
)
−
y
)
x
j
)
β 
j
​	 :=β 
j
​	 −α(h 
β
​	 (x)−y)x 
j
​	 )

In [18]:
def gradient_descent(X, Y, B, alpha, iterations):
    cost_history = [0] * iterations
    m = len(Y)
    
    for iteration in range(iterations):
        # Hypothesis Values
        h = X.dot(B)
        # Diff between Hypothesis and real Y
        loss = h - Y
        # Gradient Calculation
        gradient = X.T.dot(loss) / m
        # Changing Values of B using Gradient
        B = B - alpha * gradient
        # New Cost Value
        cost = cost_function(X, Y, B)
        cost_history[iteration] = cost
        
    return B, cost_history

In [29]:
# 100000 Iterations
newB, cost_history = gradient_descent(X, y, B, alpha, 200)

# New Values of B
print(newB)

# Final Cost of new B
print(cost_history[-1])

[-5.86218147e+292 -1.30448461e+293 -1.58093673e+293 -8.95294925e+290
 -7.44401507e+291 -8.16831531e+292 -9.33228284e+293 -4.68556768e+292
 -1.44634766e+293 -5.77021155e+294 -2.44054006e+293 -4.66227984e+294
 -1.74416460e+293]
inf

/Users/abba.barde/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: RuntimeWarning: overflow encountered in square
  """

In [31]:
# Model Evaluation - RMSE
def rmse(Y, Y_pred):
    rmse = np.sqrt(sum((Y - Y_pred) ** 2) / len(Y))
    return rmse

# Model Evaluation - R2 Score
def r2_score(Y, Y_pred):
    mean_y = np.mean(Y)
    ss_tot = sum((Y - mean_y) ** 2)
    ss_res = sum((Y - Y_pred) ** 2)
    r2 = 1 - (ss_res / ss_tot)
    return r2

Y_pred = X.dot(newB)

In [ ]:
print(rmse(y, Y_pred))
print(r2_score(y, Y_pred))